@import "colors";
@import "overlay";
@import "mixins";

#LANDING-COVER {
    // @include background;
    background-repeat: no-repeat;
    background: url(../image/background-header.jpg);
    background-position: top;
    background-position-x: right;
    background-size: cover;
    @include dropShadow;

    //INNER CONTENT
    #LANDING-WRAPPER {
        height: 100%;
    
        // LANDING LOGO
        #logo {
            height: 100px;
            width: 100px;
        }
    
        //LANDING TEXT
        #LANDING-TEXT {
            // padding-top: 2rem;
            // padding-bottom: 2rem;
        
            .heading {
                font-size: 2rem;
            }
            .sub-heading {
                font-size: 1.5rem;
            }
        }
    
        #LANDING-CONTENT {
            //SOCIAL MEDIA BUTTONS
            #SOCIAL{
                // display: inline-block;
    
                .btn-circle {
                    display: flex;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    text-align: center;
                    padding: 0;
                    border-radius: 50%;
                    background: $pink;
                }
                .btn-circle i {
                    font-size: 1.4rem;
                    position: relative;
                }
            }
    
            //LINKS 
            #LINKS {
                // display: inline-block;
    
                .btn-pill {
                    border-radius: 1.2rem;
                    display: inline-block;
                    padding: 0.4rem 0.8rem;
                    background: $pink;
                }
    
                .header-link {
                    font-size: 1rem;
                }
            }
        }
        
    }    
}




