@import "colors";
@import "overlay";
@import "mixins";

#LANDING-IMAGE {
    // @include background;
    background-repeat: no-repeat;
    height: 80vh;
    background: url(../image/cover_image_A0_Rectangle_12_pattern@2x.png);
    position: relative;
    background-position-x: right;
    background-size: cover;
}

.landing-overlay {
    @include gradient-overlay(125deg,$brown,0.82, $old-rose,0.69);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
}

#LANDING-WRAPPER {
    z-index: 2;
    position: relative;
    height: 100%;
}

/** 
 * 
 *  LANDING LOGO
 * 
 */ 
#LANDING-WRAPPER {
    z-index: 2;
    position: relative;
    height: 100%;
}
#logo {
    position: absolute;
    left: 2rem;
}
#logo img {
    width: 5rem;
    height: auto;
}

/** 
 * 
 *  LANDING TEXT
 * 
 */
#LANDING-CONTENT {
    padding-top: 12%;
}

/** 
 * 
 *  SOCIAL MEDIA ICONS
 * 
 */
#SOCIAL{
    position: relative;
    width: 12rem;
}
.social-icon {
    background: $pink;
    margin-right: auto;
    border-radius: 50%;
    @include textShadow;
}
.social-icon-circle {
    width: 35px;
    height: 35px;
    padding: 0.45rem;
    color: $white;
}