@import "colors";
@import "mixins";
@import "overlay";

.content-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 5px 10px -1px rgba($brown,0.35);
}
.section-line {
	overflow: visible;
	width: 315px;
	height: 6px;
	transform: matrix(1,0,0,1,0,0);
}

/**
 * 
 * ABOUT SECTION
 * 
 */
.about-image{
    @include image-gradient-overlay(56deg, $light-grey, 0.4, $rose,0.65, "../image/79155121_445220582830683_8282562865164976128_n.jpg");
    @include background;
}
