@import "colors";
@import "mixins";
@import "overlay";

#CONTENT-SECTION {
    #PROJECTS {
        .card {
            
            #PROJECT-BTN {
                width: 40%;

                .btn {
                    color: $white;
                    background-color: $pink;
                }
            }
        }
    }
}