@import "overlay";

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
p, span {
    font-family: 'Nunito Sans', sans-serif;
}
figcaption {
	color: $light-grey;
	font-size: 1rem;
	text-align: center;
	padding-top: 0.5rem;
}
#LANDING-TEXT {
    @include textShadow;
}

/**
 *  
 *  FONT GLOBAL STYLES
 * 
 */
.para {
	color: $dark-grey;
	font-size: 1.3rem;
	line-height: 2rem;
}
.section-title {
	color: $brown;
	@include textShadow;
}
.portfolio-title {
	color: $brown;
	font-size: 2rem;
	position: relative;
	display: inline-block;
}
.portfolio-title::after {
	content: "";
	position: absolute;
	width: 100%;
	@include overlay($pink, 0.65);
	left: 0;
	bottom: 0;
	height: .45em;
	z-index: -1;
}
.portfolio-image-desc {
	font-size: 1rem;
	line-height: 1.86rem;
}
.header-heavy, .text-heavy {
	font-weight: 900;
}
.header-extra-bold, .text-extra-bold {
	font-weight: 800;
}
.header-bold, .text-bold {
	font-weight: 700;
}
.header-semi-bold, .text-semi-bold {
	font-weight: 600;
}
.header-medium-bold, .text-medium-bold {
	font-weight: 500;
}
.header-light, .text-light {
	font-weight: 300;
}
.header-lighter, .text-lighter {
	font-weight: 200;
}
.header-thin, .text-thin {
	font-weight: 100;
}


