@import "header";
@import "text";
@import "sections";
@import "footer";

html,body {
    font-size: 16px;
    height: 100%;
	position: relative;
}
footer {
    width: 100%;
}
a {
    text-decoration: none !important;
}