#LANDING-IMAGE {
  background-repeat: no-repeat;
  height: 80vh;
  background: url(../image/cover_image_A0_Rectangle_12_pattern@2x.png);
  position: relative;
  background-position-x: right;
  background-size: cover; }

.landing-overlay {
  background: linear-gradient(125deg, rgba(141, 130, 136, 0.82), rgba(210, 169, 176, 0.69));
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1; }

#LANDING-WRAPPER {
  z-index: 2;
  position: relative;
  height: 100%; }

/** 
 * 
 *  LANDING LOGO
 * 
 */
#LANDING-WRAPPER {
  z-index: 2;
  position: relative;
  height: 100%; }

#logo {
  position: absolute;
  left: 2rem; }

#logo img {
  width: 5rem;
  height: auto; }

/** 
 * 
 *  LANDING TEXT
 * 
 */
#LANDING-CONTENT {
  padding-top: 12%; }

/** 
 * 
 *  SOCIAL MEDIA ICONS
 * 
 */
#SOCIAL {
  position: relative;
  width: 12rem; }

.social-icon {
  background: #eabbd6;
  margin-right: auto;
  border-radius: 50%;
  filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.204)); }

.social-icon-circle {
  width: 35px;
  height: 35px;
  padding: 0.45rem;
  color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

p, span {
  font-family: 'Nunito Sans', sans-serif; }

<<<<<<< HEAD
figcaption {
  color: #C8C6C9;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem; }

=======
>>>>>>> 0267f56130b861bfa5c31cf231cea34913d88b62
#LANDING-TEXT {
  filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.204)); }

/**
 *  
 *  FONT GLOBAL STYLES
 * 
 */
.para {
  color: #A9A5A2;
<<<<<<< HEAD
  font-size: 1.3rem;
  line-height: 2rem; }
=======
  font-size: 1rem;
  line-height: 1.65rem; }
>>>>>>> 0267f56130b861bfa5c31cf231cea34913d88b62

.section-title {
  color: #8D8288;
  filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.204)); }

<<<<<<< HEAD
.portfolio-title {
  color: #8D8288;
  font-size: 2rem;
  position: relative;
  display: inline-block; }

.portfolio-title::after {
  content: "";
  position: absolute;
  width: 100%;
  background: rgba(234, 187, 214, 0.65);
  left: 0;
  bottom: 0;
  height: .45em;
  z-index: -1; }

=======
>>>>>>> 0267f56130b861bfa5c31cf231cea34913d88b62
.header-heavy, .text-heavy {
  font-weight: 900; }

.header-extra-bold, .text-extra-bold {
  font-weight: 800; }

.header-bold, .text-bold {
  font-weight: 700; }

.header-semi-bold, .text-semi-bold {
  font-weight: 600; }

.header-medium-bold, .text-medium-bold {
  font-weight: 500; }

.header-light, .text-light {
  font-weight: 300; }

.header-lighter, .text-lighter {
  font-weight: 200; }

.header-thin, .text-thin {
  font-weight: 100; }

.content-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 5px 10px -1px rgba(141, 130, 136, 0.35); }

.section-line {
  overflow: visible;
  width: 315px;
  height: 6px;
  transform: matrix(1, 0, 0, 1, 0, 0); }

/**
 * 
 * ABOUT SECTION
 * 
 */
.about-image {
  background: linear-gradient(56deg, rgba(200, 198, 201, 0.4), rgba(225, 192, 201, 0.65)), url("../image/79155121_445220582830683_8282562865164976128_n.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
<<<<<<< HEAD

/**
 * 
 * PORTFOLIO SECTION
 * 
 */
.portfolio-cover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  background: #d2a9b0; }

.portfolio-cover:hover img {
  opacity: 0.5; }

.portfolio-cover .portfolio-hover-msg {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
  border-top: 0.2rem solid #FFFFFF;
  border-bottom: 0.2rem solid #FFFFFF; }

.portfolio-cover:hover .portfolio-hover-msg {
  opacity: 1;
  transform: scale(1); }

.portfolio-content {
  border-top: 0.1rem solid #C8C6C9;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px 5px 10px -1px rgba(141, 130, 136, 0.35);
  transition: display 0.5s ease-in; }

.portfolio-title-container {
  text-align: center; }

.portfolio-images {
  width: 90%;
  margin: 0 auto; }

.video-container {
  margin: 0 auto; }
=======
>>>>>>> 0267f56130b861bfa5c31cf231cea34913d88b62

#FOOTER-SECTION {
  background-color: #8D8288; }

#FOOTER-SECTION span {
  font-weight: 700; }

html, body {
  font-size: 16px;
  height: 100%;
  position: relative; }

footer {
  width: 100%; }
